.video-bg {
    
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.backgroundwrap {
    max-height:2%;
    width:100%;
}
.container{
    max-width: 660px;
    margin: 0 auto;
    max-height: 600px;
}
.content {
    width: 100%;
    position: absolute;
    color: rgba(26, 19, 69, 0.822);
    top: 0;
    left: 0;
    z-index: 10;
    font-weight: 800;
    font-family: "Montserrat", serif;
}
.content h1 {
    text-align: center;
    font-size: 78px;
    font-weight: 800;
    margin-top: 150px;
    word-spacing: 20px;
    letter-spacing: 3px;

}
.content p {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    padding: 30px;
}
.content button:hover{
    scale: 1.6;
}