/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*CSS added by Me*/
body{
    line-height: 1.5;
    font-size: 16px;
    background-color: rgba(26, 19, 69, 0.22);
}
.container{
    max-width: 400px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.video-bg {
    border-radius: 48px;
    margin: 0.75rem 0;
    max-height: 720px;
    /* width: 100%; */
    object-fit: cover;
    /* border: 1px solid black; */
}
.backgroundwrap {
    /* width:100%; */
    border-radius: 48px;
    /* z-index: -1000; */
}

.content {
    position: absolute;
    min-height: 720px;
    top: 0;
    color: rgba(208, 204, 230, 0.822);
    /* z-index: 1000; */
    
    /* margin: 0 auto; */
    max-width: 400px;
    font-family: "Montserrat", serif;
}
.inner-content{
    padding: 8px;
    display: grid;
    /* grid-template-columns: 450px 60px 70px 70px; */
    /* grid-template-rows: repeat(8, 1fr);  */
    grid-template-areas: 't t t t t t t t'  
                         't t t t t t t t'  
                         '. . . . . . . a' 
                         '. . . . . . . a'
                         '. . . . . . . a'
                         'b b b b b b b b'
                         'c c c c c c c c';
    justify-content: space-between;
    
}
.hide{
    display: none;
}
.topper{
    min-height: 380px;
    grid-area: t;
}
.side-buttons{
    
    grid-area: a;
    display: grid;
    grid-template-areas:'f'
                        's'
                        't';
    justify-content: space-between;
    grid-gap: 4px;
}
.intro-content{
    grid-area: b;
}
.desc-content{
    grid-area: c;
}
.content h1 {
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
    /* margin-top: 150px; */
    word-spacing: 20px;
    letter-spacing: 3px;

}
.content p {
    /* text-align: center; */
    font-size: 22px;
    font-weight: 600;
    /* padding: 30px; */
    word-break: break-all;
}
.content button:hover{
    scale: 1.6;
}
.first-btn{
    width: 32px;
    height: 32px;
    grid-area: f;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid hotpink; */
}
.fa-heart{
    /* justify-self: center; */
    align-self: center;
}
.second-btn{
    width: 32px;
    height: 32px;
    grid-area: s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid hotpink; */
}
.fa-share-alt{
    align-self: center;
}
.third-btn{
    width: 32px;
    height: 32px;
    grid-area: t;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid hotpink; */
}
.fa-vr-cardboard{
    align-self: center;
}
.fas{
    font-size: 24px;
}